.customScreen {
    width: 100%;
    height: 100%;
    background-size: 100%;

    .type1 {
        padding: 15% 20%;
        width: 100%;
        height: 100%;
        color: #ffffff;
        background-color: #3B4966;

        .title {
            font-size: 60rx;
            width: 300px;
            text-align: right;
        }

        .value {
            margin-top: 50px;
            padding-left: 350px;
            font-size: 120rx;
        }
    }

    .type2 {
        padding: 0 50px;
        width: 100%;
        height: 100%;
        color: #ffffff;
        background-color: #3B4966;

        .topName {
            padding-top: 40rx;
            height: 100rx;
            font-size: 32rx;
            border-bottom: 1px solid #5C6984;
        }

        .goodsListWrap {
            height: calc(100% - 200rx - 10px);
            width: 100%;

            .cell1 {
                padding-left: 50px;
                width: 40%;
            }

            .cell2 {
                width: 20%;
                text-align: center;
            }

            .cell3 {
                width: 20%;
                text-align: center;
            }

            .cell4 {
                padding-right: 50px;
                width: 20%;
                text-align: right;
            }

            .topHeader {
                height: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 24rx;
            }

            .tableBody {
                height: calc(100% - 60px);
                width: 100%;

                .goodsItem {
                    border-top: 1px solid #5C6984;
                    display: flex;
                    align-items: center;
                    height: 70rx;
                    font-size: 20rx;
                }
            }
        }

        .bottomTotal {
            height: 100rx;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: 22rx;
            padding: 0 50px 40rx 0;

            .totalNumber {
                padding-right: 100rx;
            }

            .value {
                font-size: 32rx;
            }
        }
    }

    .type3 {
        width: 100%;
        height: 100%;
        background-color: #000;

        .imgList {
            position: relative;
            width: 100%;
            height: 100%;
            transition: 300ms;
        }

        .img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 500ms ease 0s;

            &.isShow {
                opacity: 1;
            }
        }

        .videoWrap {
            position: relative;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
            }
        }
    }

    .type4 {
        display: flex;
        width: 100%;
        height: 100%;

        .left {
            width: calc(100% - 710rx);
            height: 100%;
            background-color: #000;

            .imgList {
                position: relative;
                width: 100%;
                height: 100%;
                transition: 300ms;
            }

            .img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 500ms ease 0s;

                &.isShow {
                    opacity: 1;
                }
            }

            .videoWrap {
                width: 100%;
                height: 100%;

                video {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .goodsWrap {
            width: 710rx;
            height: 100%;
            padding: 0 20px;
            color: #ffffff;
            background-color: #3B4966;

            .topName {
                padding-top: 40rx;
                height: 100rx;
                font-size: 32rx;
                border-bottom: 1px solid #5C6984;
            }

            .goodsListWrap {
                height: calc(100% - 200rx - 10px);
                width: 100%;

                .cell1 {
                    padding-left: 10px;
                    width: 40%;
                }

                .cell2 {
                    width: 20%;
                    text-align: center;
                }

                .cell3 {
                    width: 20%;
                    text-align: center;
                }

                .cell4 {
                    padding-right: 10px;
                    width: 20%;
                    text-align: right;
                }

                .topHeader {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 24rx;
                }

                .tableBody {
                    height: calc(100% - 60px);
                    width: 100%;

                    .goodsItem {
                        border-top: 1px solid #5C6984;
                        display: flex;
                        align-items: center;
                        height: 70rx;
                        font-size: 20rx;
                    }
                }
            }

            .bottomTotal {
                height: 100rx;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 22rx;
                padding: 20rx 10rx 30rx 10rx;

                .totalNumber {
                    padding-right: 100rx;
                }

                .value {
                    font-size: 32rx;
                }
            }
        }
    }

    /deep/.el-scrollbar__wrap {
        width: calc(100% + 17px);
        height: calc(100% + 17px);
    }
}