.priceChange {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 1002;

    .contentWrap {
        padding: 20px 60px 20px 60px;
        height: calc(100% - 60px);

        .menuBox {
            margin-top: 10px;
            margin-bottom: 18px;
            padding: 0 24px;
            height: 42px;
            width: 100%;
            display: flex;
            font-size: 18px;


            .menuItem {
                width: 50%;
                height: 42px;
                line-height: 42px;
                text-align: center;
                color: #666666;
                background-color: #F4F6F9;
                cursor: pointer;

                &.left {
                    border-radius: 6px 0px 0 6px;
                }

                &.right {
                    border-radius: 0 6px 6px 0;
                }

                &.selected {
                    color: #FFFFFF;
                    background-color: rgba(var(--main-theme-color), 1);
                }
            }
        }

        .canDiscountMoney {
            text-align: center;
            color: rgb(228, 30, 30);
            font-size: 12px;
            line-height: 20px;
        }

        .inputWrap {
            height: 60px;

            // /deep/.el-input__prefix {
            //     padding-left: 10px;
            //     display: flex;
            //     align-items: center;
            //     font-size: 16px;
            // }

            /deep/.el-input__inner {
                height: 58px;
                background-color: #F4F6F9;
                border-radius: 30px;
                font-size: 24px;
                text-align: center;
            }

            /deep/.el-input__suffix {
                top: 2px;
                right: 10px;
                height: 58px;

                .el-input__clear {
                    font-size: 24px;
                }
            }

            // &.discount {
            //     /deep/.el-input__inner {
            //        padding-left: 120px;
            //     }
            // }
        }

        .discountWrap {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: column;
                width: 60px;
                height: 26px;
                align-items: center;
                justify-content: center;
                color: rgba(var(--main-theme-color), 1);
                border: 1px solid rgba(var(--main-theme-color), 1);
                border-radius: 13px;
                cursor: pointer;

                .btn {
                    width: 100%;
                    height: 100%;
                    line-height: 26px;
                    text-align: center;

                    &.define {
                        font-size: 14px;
                    }
                }

                &.selected {
                    color: #ffffff;
                    background-color: rgba(var(--main-theme-color), 1);
                }
            }
        }

        .listWrap {
            margin-top: 10px;
            padding: 20px 12px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .listItem {
                display: flex;
                width: 33.33%;
                height: 85px;

                &.center {
                    justify-content: center;
                }

                &.right {
                    justify-content: flex-end;
                }

                .keyItem {
                    width: 75px;
                    height: 75px;
                    display: flex;
                    font-size: 24px;
                    align-items: center;
                    justify-content: center;
                    background-color: #F7F7F7;
                    border-radius: 50%;
                    cursor: pointer;

                    &:active {
                        background-color: #eeeeee;
                    }
                }
            }
        }

        .btnWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btnGive {
                margin-right: 25px;
                width: 58px;
                height: 58px;
                line-height: 58px;
                text-align: center;
                color: rgba(var(--main-theme-color), 1);
                border: 1px solid rgba(var(--main-theme-color), 1);
                border-radius: 50%;
                cursor: pointer;

                &:active {
                    background-color: rgba($color: #efefef, $alpha: 0.4);
                }
            }

            .btnSure {
                flex: 1;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: #ffffff;
                font-size: 17px;
                background-color: rgba(var(--main-theme-color), 1);
                border-radius: 60px;
                cursor: pointer;

                &:active {
                    background-color: rgba(var(--main-theme-color), 0.6);
                }
            }
        }
    }
}