.carttingMeiyeTable {
    width: 100%;
    height: calc(100% - 48rx);

    /deep/.el-scrollbar .el-scrollbar__view {
        padding-top: 6px;
    }

    .tableWrap {
        padding-bottom: 5rx;
        width: 100%;
        height: 100%;

        .dataList {
            padding: 0 16rx;
        }

        .cartItem {
            padding-bottom: 8rx;
            position: relative;

            &:last-child {
                padding-bottom: 0;
            }

            .content {
                padding: 0 10px;
                border-radius: 6rx;
                background-color: #ffffff;
                box-shadow: 0px 1px 1px 0px rgba(69, 89, 120, 0.1);
                border: 1px solid #ffffff;

                &.selected {
                    background-color: rgba(var(--main-theme-color), 0.05);
                    border: 1px solid #eeeeee;
                }
            }

            &.isPackage {
                margin-bottom: 10px;
                border: 1px solid rgba(var(--main-theme-color), 1);
            }

            .itemStatus {
                position: absolute;
                right: 0;
                top: 0;
            }

            .itemPackage {
                position: absolute;
                top: -5px;
                left: 10px;
                padding: 6px 6px 4px 6px;
                color: #ffffff;
                background-color: rgba(var(--main-theme-color), 1);
                border-radius: 4px;
            }

            .dataMain {
                padding-bottom: 10px;
                border-radius: 6px;

                &.isOrderList {
                    .product_num {
                        cursor: auto;
                    }

                    .flag_kouci {
                        cursor: auto;
                    }
                }
            }

            .subWrap {
                border-bottom: 1px #E5E5E5 dashed;

                .subItem {
                    padding: 10px 0;
                    background-color: rgba(#F4F6F9, 1);
                    border-radius: 6px;

                    .subName {
                        text-align: center;
                    }
                }
            }

            .row {
                display: flex;
                color: #333333;

                .dealPrice {
                    font-size: 20px;
                    cursor: pointer;
                }

                .dealMoney {
                    font-size: 20px;
                }
            }

            .rowTop {
                padding: 5px 0;
                line-height: 30rx;
                color: #999999;
                font-size: 14px;
            }

            .rowBottom {
                min-height: 10rx;
                line-height: 20rx;
                font-size: 12px;

                .cell4 {
                    width: 220rx;
                    justify-content: flex-end;
                }

                /deep/.pl-10 {
                    padding-left: 10rx;
                }

                /deep/.highlight {
                    color: #FF3A3A;
                }

                /deep/.discount {
                    font-size: 12px;
                }
            }

            .cell1 {
                position: relative;
                width: 30rx;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #999999;

                .index {
                    position: absolute;
                    padding-left: 5px;
                    top: 5px;
                    left: -15px;
                    width: 25px;
                    line-height: 20px;
                    text-align: center;
                    color: #8056F7;
                    background-color: #F1EDFB;
                    border-radius: 0px 5px 5px 0px;
                }
            }

            .cell2 {
                position: relative;
                flex: 1;
                display: flex;
                align-items: center;
                cursor: pointer;

                .flag_kouci {
                    position: absolute;
                    top: -24px;
                    right: 0px;
                    cursor: pointer;

                    .img {
                        width: 102px;
                        height: 75px;
                    }

                    .btnClearKouci {
                        position: absolute;
                        top: -5px;
                        right: 5px;
                        width: 20px;
                        height: 20px;
                        font-size: 16px;
                        text-align: center;
                        line-height: 20px;
                        color: #7F56F7;
                        border: 1px solid #7F56F7;
                        border-radius: 50%;
                        opacity: 0;
                    }

                    &:hover .btnClearKouci {
                        opacity: 1;
                    }
                }

                .goodsNumber {
                    margin-bottom: 0rx;
                    color: #666666;
                    font-size: 13px;
                }

                .goodsName {
                    display: flex;
                    flex-direction: column;

                    .topInfo {
                        color: #666666;
                        font-size: 12px;
                    }

                    .nameText {
                        flex: 1;
                        padding-right: 20rx;
                        color: #000000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .subInfo {
                        font-size: 12px;
                    }
                }

                /deep/.vipFlag {
                    margin-right: 4rx;
                    height: 15rx;
                    padding: 0 3rx;
                    line-height: 15rx;
                    font-size: 12px;
                    text-align: center;
                    color: #E0912E;
                    border: 1px solid #E0912E;
                    border-radius: 3rx;
                    background-color: #FFF4E1;
                }
            }

            .cell3 {
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                .product_num {
                    margin: 0 2rx;
                    width: 40rx;
                    height: 32rx;
                    line-height: 32rx;
                    color: #000000;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                }

                .btnSubtract {
                    width: 30rx;
                    height: 30rx;
                    line-height: 30rx;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    border: 1rx solid #DCDEE0;
                    border-radius: 3rx;
                    background-color: #ffffff;
                    cursor: pointer;

                    &.disabled {
                        background-color: #F4F6F9;
                    }

                    &:hover {
                        background-color: rgba(#eeeeee, 0.4);
                    }
                }

                .btnAdd {
                    width: 30rx;
                    height: 30rx;
                    line-height: 30rx;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    border-radius: 3rx;
                    border: 1rx solid #DCDEE0;
                    background-color: #ffffff;
                    cursor: pointer;

                    &.disabled {
                        background-color: #F4F6F9;
                    }

                    &:hover {
                        background-color: rgba(#eeeeee, 0.4);
                    }
                }
            }

            .cell4 {
                padding-right: 10rx;
                width: 120rx;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .cell5 {
                width: 100rx;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .cell6 {
                width: 60rx;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .subTotal {
                    margin-top: -10rx;
                    font-size: 18px;
                    color: #000000;
                    // font-weight: bold;
                }

                .btnDelete {
                    margin-top: -10rx;
                    font-size: 22px;
                    color: #9967FB;
                    cursor: pointer;
                }

                .btnIcon {
                    color: #FF3131;
                    cursor: pointer;
                }
            }

            .workerWrap {
                display: flex;
                flex-direction: column;

                .productCommon {
                    height: 100rx;

                    .salerTitle {
                        position: relative;
                        height: 30rx;
                        line-height: 30rx;
                        color: #999999;

                        .text {
                            font-size: 12px;
                        }
                    }

                    .listWrap {
                        display: flex;
                        align-items: center;
                        height: 70rx;

                        .listItem {
                            position: relative;
                            width: 25%;
                            height: 60rx;
                            color: #333333;
                            border-radius: 6rx;

                            .itemLeft {
                                width: 100%;
                                height: 60rx;
                                display: flex;
                                align-items: center;

                                .logo {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 8rx;
                                    width: 40rx;
                                    height: 40rx;
                                    border-radius: 50%;
                                    background-color: #E0E6EE;
                                    overflow: hidden;
                                }

                                .name {
                                    font-size: 14px;
                                    width: calc(100% - 48rx);
                                    overflow: hidden;
                                }
                            }

                            .itemRight {
                                position: absolute;
                                top: 0;
                                right: 10rx;

                                .btnDelete {
                                    color: #f56c6c;
                                    margin-left: 15px;
                                    width: 22px;
                                    height: 22px;
                                    line-height: 22px;
                                    font-size: 22px;
                                    text-align: center;
                                    cursor: pointer;
                                }
                            }

                            .btnEdit {
                                padding-left: 20rx;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                height: 100%;
                                font-size: 18px;
                                text-align: center;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .productMeiye {
                    padding: 10px 0;

                    .salerTitle {
                        position: relative;
                        height: 30px;
                        padding-left: 24rx;
                        color: #999999;

                        .text {
                            position: absolute;
                            top: 5px;
                            font-size: 12px;
                        }
                    }

                    .listContent {
                        display: flex;
                        align-items: center;

                        .workerWrapLeft {
                            width: calc(100% - 35px);

                            .wsItem {
                                margin-top: 4px;
                                width: 100%;
                                height: 60px;
                                display: flex;
                                align-items: center;
                                overflow: hidden;

                                &:first-child {
                                    margin-top: 0;
                                }

                                .wsFlag {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    height: 80px;
                                    width: 24px;
                                    color: #ffffff;
                                    border: 1px;
                                    background-color: #8F82BC;
                                    font-size: 12px;
                                    word-wrap: break-word;
                                    transform: scale(0.8);
                                }

                                .wsList {
                                    margin-left: -2px;
                                    display: flex;
                                    align-items: center;
                                    height: 60px;
                                    width: calc(100% - 20px);

                                    .listItem {
                                        margin-left: 2px;
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        width: calc(25% - 1.2px);
                                        height: 60px;
                                        color: #333333;
                                        border-radius: 6rx;
                                        background-color: #f4f6f9;
                                        cursor: pointer;

                                        &:nth-child(1) {
                                            margin: 0;
                                        }

                                        .indexBg {
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            height: 60px;
                                            z-index: 1;

                                            &.type1 {
                                                background-color: #E8E3F9;
                                            }

                                            &.type3 {
                                                background-color: #F9F7E3;
                                            }

                                            &.type2 {
                                                background-color: #E3F4F9;
                                            }

                                            &.type4 {
                                                background-color: #E3EAF9;
                                            }
                                        }

                                        .itemContent {
                                            position: relative;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            width: 100%;
                                            padding: 8px 3px;
                                            font-size: 12px;
                                            z-index: 3;

                                            .itemNumer {
                                                height: 20px;
                                                display: flex;
                                                align-items: center;
                                                font-size: 14px;

                                                .appoint {
                                                    margin-left: 5px;
                                                    padding: 0 5px;
                                                    font-size: 12px;
                                                    color: #80C269;
                                                    border-radius: 4px;
                                                    border: 1px solid #80C269;
                                                    background-color: #E3F9E7;
                                                }
                                            }
                                        }

                                        /deep/.el-input__inner {
                                            text-align: center;
                                        }

                                        &.isEmpty {
                                            color: #A4ACB7;
                                        }

                                        .itemLeft {
                                            position: relative;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            width: 400rx;
                                            height: 70rx;

                                            &.bg {
                                                border-radius: 5rx;

                                                .wrap {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 70rx;
                                                    z-index: 3;
                                                    cursor: pointer;
                                                }

                                                .index {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 2px;
                                                    width: 100%;
                                                    height: 100%;

                                                    .line {
                                                        position: absolute;
                                                        top: 0;
                                                        left: -2px;
                                                        width: 3px;
                                                        height: 70rx;
                                                        z-index: 1;
                                                    }

                                                    /deep/.el-slider {
                                                        position: absolute;
                                                        bottom: 5px;
                                                        left: 0px;
                                                        width: calc(100% - 5px);
                                                        z-index: 3;

                                                        .el-slider__runway {
                                                            margin: 0;
                                                            height: 0;

                                                            .el-slider__bar {
                                                                background-color: transparent;
                                                            }

                                                            .el-slider__button {
                                                                width: 10px;
                                                                height: 10px;
                                                            }
                                                        }
                                                    }
                                                }

                                                &.type1 {
                                                    .line {
                                                        background-color: #F0EDF7;
                                                    }

                                                    /deep/.el-slider .el-slider__button {
                                                        border-color: #8e7eb8;
                                                    }
                                                }

                                                &.type2 {
                                                    .line {
                                                        background-color: #EDF7F4;
                                                    }

                                                    /deep/.el-slider .el-slider__button {
                                                        border-color: #7eafa0;
                                                    }
                                                }

                                                &.type3 {
                                                    .line {
                                                        background-color: #F7F6ED;
                                                    }

                                                    /deep/.el-slider .el-slider__button {
                                                        border-color: #bdb996;
                                                    }
                                                }

                                                &.type4 {
                                                    .line {
                                                        background-color: #F7EDED;
                                                    }

                                                    /deep/.el-slider .el-slider__button {
                                                        border-color: #c29b9b;
                                                    }
                                                }
                                            }

                                            .td1 {
                                                position: relative;
                                                width: 220rx;
                                                padding-left: 24rx;
                                                display: flex;
                                                align-items: center;
                                                z-index: 1;

                                                .isLocked {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 20px;
                                                    height: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-end;
                                                }

                                                .logo {
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    margin-right: 8rx;
                                                    width: 40rx;
                                                    height: 40rx;
                                                    border-radius: 50%;
                                                    background-color: #E0E6EE;
                                                    overflow: hidden;
                                                    user-select: none;
                                                }

                                                .textWrap {
                                                    width: 148rx;
                                                    font-size: 14px;
                                                    overflow: hidden;
                                                    user-select: none;

                                                    .text {
                                                        padding-top: 5rx;
                                                        font-size: 12px;
                                                        width: 148rx;
                                                        user-select: none;

                                                        .typeName {
                                                            padding-right: 10rx;
                                                            user-select: none;
                                                        }
                                                    }
                                                }
                                            }

                                            .td2 {
                                                position: relative;
                                                width: 74rx;
                                                margin: 0 8rx;
                                                z-index: 3;
                                                user-select: none;
                                            }

                                            .td3 {
                                                position: relative;
                                                width: 74rx;
                                                margin: 0 8rx;
                                                z-index: 3;
                                            }

                                            .td5 {
                                                width: 180rx;
                                                text-align: center;
                                            }

                                            /deep/.el-input__suffix {
                                                width: 24px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                right: 0;
                                                background-color: #f4f6f9;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .workerWrapRight {
                            padding-left: 5px;
                            width: 35px;

                            .btnEdit {
                                width: 32px;
                                height: 32px;
                                line-height: 32px;
                                font-size: 18px;
                                text-align: center;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .productService {
                    display: flex;
                    flex-direction: column;

                    .td1 {
                        padding-left: 10px;
                        width: calc(100% - 150px - 200px);
                    }

                    .td2 {
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .status {
                            display: flex;
                            height: 28px;
                            font-size: 14px;

                            .statusText {
                                width: 60px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #E17F03;
                                background-color: #FFEDD6;
                                border-radius: 4px 0px 0px 4px;

                                &.isOnServer {
                                    color: rgba(var(--main-theme-color), 1);
                                    background-color: #E8ECFF;
                                }
                            }

                            .statusBtn {
                                width: 50px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #ffffff;
                                background-color: rgba(var(--main-theme-color), 1);
                                border-radius: 0px 4px 4px 0px;
                                cursor: pointer;
                            }
                        }
                    }

                    .td3 {
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .td4 {
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .wsheader {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        border-bottom: 1px solid #F4F6FA;
                    }

                    .wsItem {
                        width: 100%;
                        height: 55px;
                        display: flex;
                    }

                    .td1 {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 8rx;
                            width: 40rx;
                            height: 40rx;
                            border-radius: 50%;
                            background-color: #E0E6EE;
                            overflow: hidden;
                        }

                        .name {
                            font-size: 14px;
                            max-width: 100rx;
                            overflow: hidden;
                        }

                        .btnEdit {
                            margin-left: 10px;
                            width: 22px;
                            height: 22px;
                            line-height: 22px;
                            font-size: 18px;
                            text-align: center;
                            cursor: pointer;
                        }
                    }

                    .emptyBtnEdit {
                        padding-left: 10px;
                        height: 55px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }

        .header {
            padding: 0 16rx;
            height: 40px;
            display: flex;
            align-items: center;
            color: #666666;
            background-color: rgba(#F4F6F9, 0.6);
            border-radius: 6rx;

            .cell1 {
                width: 60rx;
                text-align: center;
            }

            .cell2 {
                flex: 1;
            }

            .cell3 {
                width: 120rx;
                text-align: center;
            }

            .cell4 {
                padding-right: 20rx;
                width: 140rx;
                text-align: right;
            }
        }
    }

    .tableControl {
        width: 100%;
        padding: 0 16rx;

        .pagesWrap {
            height: 48rx;
            padding: 0 5rx;
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: center;
                width: calc(100% - 200rx);

                .btnItem {
                    margin-right: 10rx;
                    width: 100rx;
                    height: 46rx;
                    line-height: 46rx;
                    text-align: center;
                    font-size: 16px;
                    border: 1px solid #eeeeee;
                    border-radius: 3rx;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(#eeeeee, 0.4);
                    }

                    &.disabled {
                        cursor: not-allowed;
                    }
                }

                .remark {
                    margin-left: 8rx;

                    /deep/.el-input__inner {
                        height: 46rx;
                        max-width: 650rx;
                        color: #999999;
                        background-color: #F4F6F9;

                        &:focus {
                            border-color: rgba(var(--main-theme-color), 1);
                        }
                    }
                }
            }

            .right {
                display: flex;

                .btn {
                    width: 46rx;
                    height: 46rx;
                    color: #000000;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 46rx;
                    border: 1px solid #eeeeee;
                    border-radius: 3rx;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(#eeeeee, 0.4);
                    }

                    &.disabled {
                        cursor: not-allowed;
                        background-color: rgba(#eeeeee, 0.2);

                        &:hover {
                            background-color: rgba(#eeeeee, 0.2);
                        }
                    }
                }

                .currentPage {
                    width: 60rx;
                    line-height: 48rx;
                    text-align: center;
                }
            }
        }
    }
}

.orderItemHandle {
    /deep/.dcContent {
        top: 40%;
        left: 20%;

        .contentWrap {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .btnItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 10px;
                width: 80px;
                height: 80px;
                border-radius: 8px;
                background-color: #F4F6F9;
                cursor: pointer;

                &.isEmpty {
                    background-color: #ffffff;
                }
            }
        }
    }
}