.mainContent .messageBox {
    position: relative;
    width: calc(100% - 40px);
    height: 100%;
    margin: 0px 20px 0 20px;
    padding-top: 10px;
    font-size: 14px;
    overflow: hidden;
    color: #333333;

    .messageTitle {
        font-size: 18px;
    }

    .menuWrap {
        height: 60px;
        padding-top: 6px;

        .el-tabs__nav-wrap::after {
            height: 1px;
            background: #F7F8FA;
        }
    }

    .contentWrap {
        display: flex;
        width: 100%;
        height: calc(100% - 84px);
        background-color: #ffffff;
        border-radius: 8px 8px 0 0;

        .leftList {
            padding: 10px 0;
            width: 400px;
            height: 100%;
            border-right: 1px solid #F7F8FA;

            .el_content {
                width: 100%;
                height: 100%;

                .listItem {
                    padding: 20px 30px 20px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;

                    &:hover {
                        background-color: #F7F8FA;
                    }

                    .dateTime {
                        padding-left: 5px;
                        margin-top: 5px;
                        font-size: 12px;
                    }
                }
            }
        }

        .rightContent {
            width: calc(100% - 400px);
            height: 100%;

            .titleWrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 30px;

                .title {
                    font-size: 18px;
                    font-weight: bold;
                }

                .dateTime {
                    font-size: 16px;
                }
            }

            .el_content {
                margin-top: 10px;
                width: 100%;
                height: 100%;
                height: calc(100% - 80px);
            }

            .contentText {
                padding: 20px 0;
                margin: 0 40px;
                width: calc(100% - 80px);
                text-indent: 2em;
                font-size: 18px;
            }
        }
    }
}