.checkStoreCard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 999;

    .contentWrap {
        position: relative;
        width: 100%;
        height: calc(100% - 60px);

        .searchMember {
            padding: 0 30px;
            /deep/.el-input__inner {
                height: 48px;
                line-height: 28px;
                background-color: #F4F6F9;
                border: none;
            }

            /deep/.el-input-group__append {
                border: none;
            }
        }

        .memberInfo {
            padding: 0 30px;
            margin-top: 10px;
            border-radius: 6px;
            overflow: hidden;


            .userInfo {
                padding: 12px 12px 12px 17px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                background-color: #E5CAA0;

                .left {
                    display: flex;
                    align-items: center;

                    .logo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ffffff;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    .nameWrap {
                        margin-left: 9px;

                        .name {
                            color: #000000;
                            font-size: 18px;
                        }

                        .flag {
                            padding: 0 4px;
                            margin-left: 4px;
                            color: #E79520;
                            font-size: 12px;
                            border-radius: 3px;
                            border: 1px solid #E0912E;
                            background-color: #FFF4E1;
                        }
                    }

                    .telephone {
                        font-size: 12px;
                    }
                }

                .right {
                    display: flex;

                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 46px;
                        height: 26px;
                        font-size: 12px;
                        border-radius: 3px;
                        background-color: #FFFFFF;
                        border: 1px solid #C3A980;
                        cursor: pointer;

                        &:active {
                            background-color: rgba(#FFFFFF, 0.8);
                        }
                    }

                    .btnClear {
                        margin-right: 3px;
                    }
                }
            }

            .userRights {
                display: flex;
                justify-content: space-between;
                height: 57rx;
                width: 100%;
                padding: 8rx 48rx;
                background-color: #ffffff;
                border: 1px solid #F4F6F9;

                .item {
                    text-align: center;

                    &.discount {
                        cursor: pointer;
                    }

                    .key {
                        font-size: 13px;
                    }

                    .value {
                        font-size: 13px;
                    }
                }
            }
        }

        .controlContent {
            height: calc(100% - 50px - 140px - 70px);

            .controlWrap {
                padding: 0 30px;
            }

            .inputWrap {
                margin-top: 14rx;

                .inputLine {
                    display: flex;
                    margin-bottom: 14rx;

                    .key {
                        padding-left: 20px;
                        width: 100px;
                        height: 46rx;
                        line-height: 46rx;
                        background-color: #F4F6F9;
                    }
                }

                /deep/.el-input {
                    height: 46rx;

                    &.right .el-input__inner {
                        text-align: right;
                    }

                    .el-input__inner {
                        height: 100%;
                        border: none;
                        background-color: #F4F6F9;
                    }

                    .el-input-group__prepend {
                        padding: 0 10px;
                        color: #333333;
                        border: none;
                    }
                }
            }

            .dataItem {
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .key {
                    width: 70px;
                    text-align: right;
                }

                .value {
                    padding-left: 5px;
                    width: calc(100% - 70px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .saleman_name {
                        height: 40px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #67a6ff;
                    }

                    /deep/.el-input {
                        border: none;

                        .el-input__inner {
                            text-align: right;
                            border: none;

                            &:focus {
                                border: 1px solid rgba(var(--main-theme-color), 1);
                            }
                        }
                    }
                }

                .checkPrint {
                    padding-right: 5px;
                }
            }

            .payInputItem {
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .key {
                    width: 70px;
                    text-align: right;
                }

                .value {
                    width: calc(100% - 120px);

                    /deep/.el-input__inner {
                        padding-right: 40px;
                        text-align: right;
                        border: none;
                    }

                    /deep/.el-input__suffix {
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        color: #333333;
                    }
                }
            }

            .payTypeList {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .item {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    width: 21%;
                    padding: 10rx 0;
                    margin: 0 2% 10rx 2%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 6rx;
                    border: 1px solid #ffffff;
                    cursor: pointer;

                    &.disabled {
                        cursor: no-drop;
                    }

                    .img {
                        width: 50px;
                        height: 50px;
                    }

                    .payTypeName {
                        margin-top: 5rx;
                        font-size: 12px;
                    }

                    &.selected {
                        background-color: #E0E6FE;
                        border: 1px solid rgba(var(--main-theme-color), 1);
                        overflow: hidden;

                        .corner {
                            display: block;
                            position: absolute;
                            right: -8px;
                            bottom: -7px;
                        }
                    }

                    .corner {
                        display: none;
                    }
                }
            }

            .receiveMoney {
                padding-top: 10px;
                padding-right: 10px;
                display: flex;
                align-items: center;
                font-size: 18px;

                .value {
                    padding-left: 10px;
                    font-size: 26px;

                    &.receiveMoney {
                        cursor: pointer;
                    }

                    .symbol {
                        font-size: 18px;
                    }

                    &.highLight {
                        color: #CC3838;
                    }

                    .moneyEdit {
                        margin-left: 5rx;
                        font-size: 20rx;
                        color: rgba(var(--main-theme-color), 1);
                    }
                }
            }
        }

        .btnWrap {
            position: absolute;
            left: 30px;
            bottom: 20px;
            width: 390px;

            .controlItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
                font-size: 18px;
                color: #ffffff;
                background-color: rgba(var(--main-theme-color), 1);
                border-radius: 4px;
                cursor: pointer;
                text-align: center;

                &:active {
                    background-color: rgba(var(--main-theme-color), 0.6);
                }

                &.is-disabled {
                    color: #C0C4CC !important;
                    cursor: not-allowed !important;
                    background-color: #FFF !important;
                    border-color: #EBEEF5 !important;
                }
            }
        }
    }

    // 结算成功弹窗样式
    .successContentWrap {
        position: relative;
        width: 100%;
        height: calc(100% - 60px);
        padding: 0 60px;

        .orderInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                color: #ffffff;
                background-color: rgba(var(--main-theme-color), 1);
                border-radius: 40px;
                font-size: 48px;
                font-weight: bold;
            }

            .orderNumber {
                margin: 20px 0;
                width: 100%;
            }
        }

        .memberInfo {
            margin: 10px 0;

            .memberTitle {
                margin-top: 30px;
                text-align: center;
                font-size: 18px;
            }
        }

        .btnSure {
            position: absolute;
            bottom: 40px;
            left: 0;
            width: 100%;
            text-align: center;

            .btn {
                display: inline-block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 20px;
                color: #ffffff;
                background-color: rgba(var(--main-theme-color), 1);
                cursor: pointer;
            }
        }

        .itemBox {
            display: flex;
            height: 40px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }
}



.pswContentWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 27px;
    height: calc(100% - 180px);

    .pswBox {
        width: 320px;
        height: 50px;

        .el-input,
        /deep/.el-input__inner {
            height: 50px;
            border-radius: 50px;
            text-align: center;
            font-size: 16px;
        }
    }

    .tips {
        font-size: 18px;
    }
}

.pswBtnWrap {
    margin-top: 36px;
    text-align: center;

    .btnSure {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        background-color: rgba(var(--main-theme-color), 1);
        border-radius: 20px;
        cursor: pointer;

        &.disabled {
            color: #999999;
            background-color: #cccccc;
            cursor: not-allowed;
        }

        &.mr-20 {
            margin-right: 20px;
        }
    }
}