.monthlyAch-Main {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f7f8fa;

    .rep_query {
        height: 100px;
        width: 100%;
        background-color: #fff;
        padding: 10px;

        .rep_q_bottom {
            height: 100%;
            width: 100%;
            background: #f7f8fa;
            position: relative;

            .rep_qb_from {
                display: flex;
                align-items: center;
                padding: 20rx;

                .rep_qbf_item {
                    display: flex;
                    align-items: center;
                    margin: 0 50rx 0 0;

                    .rep_qbfi_name {
                        font-size: 14px;
                        font-weight: 400;
                        color: #000000;
                        width: 70px;
                        text-align: right;
                    }

                    .rep_qbfi_label {
                        width: 160px;

                        .el-date-editor {
                            width: 100%;
                        }
                    }

                    .bottom {
                        height: 34px;
                        display: flex;
                        align-items: center;
                    }
                }
            }

        }
    }

    .req_table {
        width: 100%;
        height: calc(100% - 100px);
        padding: 10rx;
        background-color: #fff;

        .tableBox {
            width: 100%;
            max-height: 100%;
            display: flex;
        }
    }
}