.goodsSetting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 999;

    .gsContentWrap {
        padding: 0 20rx;
        height: calc(100% - 80rx);

        .filterWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .inputWrap {
                height: 45rx;
                width: calc(100% - 200px);

                /deep/.el-input__inner {
                    height: 45rx;
                    background-color: #F4F6F9;
                    border-radius: 6rx;
                    font-size: 14px;
                    border: none;
                }

                /deep/.el-input__suffix {
                    top: 2rx;
                    right: 10rx;
                    height: 45rx;
                    
                    .el-input__icon {
                        font-size: 22px;
                        cursor: pointer;
                    }
                }
            }

            .btnItem {
                padding: 0;
                margin-left: 10rx;
                height: 42rx;
                width: 88px;
                line-height: 42rx;
                border-radius: 6rx;
                text-align: center;
            }
        }

        .tableWrap {
            margin-top: 10rx;
            height: calc(100% - 120rx);
            background-color: #ffffff;
            .tableBox {
                width: 100%;
                max-height: calc(100% - 80rx);
                display: flex;
                // height: 100%;
            }
            .pageWrap {
                height: 80rx;
                padding-right: 20rx;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            .Jump {
                color: rgba(var(--main-theme-color), 1);
                font-weight: 400;
                cursor: pointer;
            }
            .Jump:hover {
                text-decoration: underline;
            }
        }
        .btnSure {
            margin: 12rx auto;
            height: 50rx;
            width: 240px;
            line-height: 50rx;
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            background-color: rgba(var(--main-theme-color), 1);
            border-radius: 25rx;
            cursor: pointer;

            &:active {
                background-color: rgba(var(--main-theme-color), 0.6);
            }
        }
    }
}