@font-face {
    font-family: "iconfont";
    /* Project id 2218516 */
    src: url('iconfont.ttf?t=1694224934532') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghu:before {
    content: "\e600";
}

.icon-youshuangjiantou:before {
    content: "\e6c9";
}

.icon-zuoshuangjiantou:before {
    content: "\e6d0";
}

.icon-yifahuo:before {
    content: "\e6b2";
}

.icon-lei-huaxueyuanliao:before {
    content: "\e62c";
}

.icon-cangkuguanli-:before {
    content: "\e630";
}

.icon-caigou:before {
    content: "\e60c";
}

.icon-gouwudai:before {
    content: "\e6b3";
}

.icon-shezhi:before {
    content: "\e851";
}

.icon-zhupeifangguanli:before {
    content: "\e614";
}

.icon-home:before {
    content: "\e601";
}