@font-face {
    font-family: "scaleValue";
    src: url('~@/assets/font/DS-DIGIB_1.TTF') format('truetype')
}

.home {
    display: flex;
    width: 100%;
    height: 100%;
    // padding-top: 10rx;
    // padding-left: 8rx;
    // background-color: #2a2d36;

    .quickPay {
        width: 0;
        // overflow: hidden;
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // z-index: -1;
    }

    .cashier_mask {
        background-color: rgb(0, 0, 0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        position: fixed;

        img {
            width: 100%;
            height: 100%;
        }

        .cashier_ms_item {
            position: absolute;
            top: 45%;
            transform: translateY(-45%);
            width: 55px;
            height: 55px;
            color: #27F189;
            background-color: #606266;
            border-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 35px;
            cursor: pointer;

            &.cashier_msi_left {
                left: 40px;
            }

            &.cashier_msi_right {
                right: 40px;
            }
        }

        .cashier_m_btnGroup {
            bottom: 40px;
            right: 100px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;


            .cashier_mbg_btn {
                width: 180px;
                height: 60px;
                border: 2px solid #27F189;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: 500;
                color: #27F189;
                background: no-repeat;
                cursor: pointer;

                &:last-child {
                    margin: 0 0 0 25px;
                }
            }
        }
    }

    // 结算成功弹窗样式
    .successContentWrap {
        position: relative;
        width: 100%;
        height: calc(100% - 60px);
        padding: 0 60rx;

        .orderInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20rx;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80rx;
                height: 80rx;
                color: #ffffff;
                background-color: rgba(var(--main-theme-color), 1);
                border-radius: 40rx;
                font-size: 48rx;
                font-weight: bold;
            }

            .orderNumber {
                margin: 20rx 0;
            }
        }

        .memberInfo {
            margin: 10rx 0;

            .memberTitle {
                margin-top: 30rx;
                text-align: center;
                font-size: 18rx;
            }
        }

        .btnSure {
            position: absolute;
            bottom: 40rx;
            left: 0;
            width: 100%;
            text-align: center;

            .btn {
                display: inline-block;
                width: 120rx;
                height: 40rx;
                line-height: 40rx;
                text-align: center;
                border-radius: 20rx;
                color: #ffffff;
                background-color: rgba(var(--main-theme-color), 1);
                cursor: pointer;
            }
        }

        .itemBox {
            display: flex;
            height: 40rx;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.homeLeft {
    flex: 1;
    height: 100%;
    padding: 16rx 16rx 0 16rx;
    background-color: #ffffff;

    .leftTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 114rx;

        .saleNumber {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(50% - 10rx);
            height: 114rx;
            padding: 10rx 12rx;
            background-color: #F4F6F9;
            border-radius: 6rx;

            &.inScaleType {
                width: calc(40% - 10rx);
            }

            .title {
                position: relative;
                line-height: 40rx;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .scaleType {
                    padding-right: 20px;
                    color: #4469EA;
                    cursor: pointer;

                    .memberName {
                        padding-right: 10px;
                        cursor: pointer;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }


                .clearMember {
                    position: absolute;
                    top: 5px;
                    right: -10px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .inputBox {
                height: 50rx;

                /deep/.el-input__inner {
                    height: 48rx;
                }

                /deep/.el-input__suffix {
                    display: inline-block;
                    padding: 0 10rx;
                    height: 48rx;
                    line-height: 48rx;
                    cursor: pointer;
                }
            }
        }

        .scaleWrap {
            display: flex;
            width: calc(60% - 10rx);
            height: 114rx;
            color: #666666;

            .scaleWrapLeft {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 60px;
                padding: 10px 0;

                .item {
                    display: flex;
                    align-items: center;
                    height: 40px;

                    .flag {
                        margin-right: 10px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: rgba(var(--main-theme-color), 1);
                    }
                }
            }

            .scaleWrapCenter {
                padding: 10px 0;
                width: calc(100% - 140px);
                display: flex;

                .item {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .key {
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                    }

                    .scaleValue {
                        display: flex;
                        flex-wrap: wrap;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 38px;
                        color: #000000;
                        font-weight: bold;
                        font-family: 'scaleValue';
                    }
                }
            }

            .scaleWrapRight {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 80px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                .btn {
                    width: 80px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border: 1px solid #eeeeee;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba($color: #eeeeee, $alpha: 0.6);
                    }

                    &:active {
                        background-color: rgba($color: #eeeeee, $alpha: 0.8);
                    }
                }
            }
        }

        .members {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(50% - 10rx);
            height: 114rx;
            background-color: #F4F6F9;
            border-radius: 6rx;

            .unSelected {
                padding: 10rx 12rx;
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                font-size: 20px;

                .btn {
                    position: absolute;
                    top: 10rx;
                    right: 12rx;
                    color: rgba(var(--main-theme-color), 1);
                    font-size: 14px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .title {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .content {
                .userInfo {
                    position: relative;
                    padding: 4rx 12rx 4rx 17rx;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 57rx;
                    width: 100%;
                    background-color: #E5CAA0;
                    border-radius: 6rx 6rx 0 0;

                    .left {
                        display: flex;
                        align-items: center;

                        .logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 48rx;
                            height: 48rx;
                            border-radius: 50%;
                            overflow: hidden;
                            background-color: #ffffff;
                        }

                        .nameWrap {
                            margin-left: 9rx;

                            .name {
                                color: #000000;
                                font-size: 18px;
                            }

                            .flag {
                                padding: 0 4rx;
                                margin-left: 4rx;
                                color: #E79520;
                                font-size: 10px;
                                border-radius: 3rx;
                                border: 1px solid #E0912E;
                                background-color: #FFF4E1;
                            }
                        }

                        .telephone {
                            font-size: 12px;
                        }
                    }

                    .right {
                        display: flex;

                        .btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 46rx;
                            height: 26rx;
                            font-size: 10px;
                            border-radius: 3rx;
                            color: #8A6122;
                            background-color: #FFFFFF;
                            cursor: pointer;

                            &:active {
                                background-color: rgba(#FFFFFF, 0.8);
                            }
                        }

                        .btnClear {
                            margin-right: 3rx;
                        }
                    }

                    .clearMember {
                        position: absolute;
                        right: -10rx;
                        top: -10rx;
                        width: 20rx;
                        height: 20rx;
                        font-size: 20px;
                        color: #B4BAC3;
                        cursor: pointer;
                    }
                }

                .userRights {
                    display: flex;
                    justify-content: space-between;
                    height: 57rx;
                    width: 100%;
                    padding: 8rx 48rx;
                    background-color: #ffffff;
                    border: 1px solid #F4F6F9;
                    border-radius: 0 0 6rx 6rx;

                    .item {
                        text-align: center;

                        .key {
                            font-size: 13px;
                        }

                        .value {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .leftContent {
        width: 100%;
        height: calc(100% - 196rx);
        padding: 12rx 0;

        .tableWrap {
            width: 100%;
            height: calc(100% - 48rx);

            .header {
                height: 40rx;
                display: flex;
                align-items: center;
                color: #666666;
                background-color: #F4F6F9;
                border-radius: 6rx;

                .cell1 {
                    width: 60rx;
                    text-align: center;
                }

                .cell2 {
                    flex: 1;
                }

                .cell3 {
                    width: 120rx;
                    text-align: center;
                }

                .cell4 {
                    width: 180rx;
                    text-align: center;
                }

                .cell5 {
                    width: 100rx;
                    text-align: center;
                }

                .cell6 {
                    width: 120rx;
                    text-align: center;
                }
            }

            .tbody {
                height: calc(100% - 40rx);
            }
        }

        .tableControl {
            width: 100%;
            height: 48rx;
            padding: 0 5rx;
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;

                .btnClear {
                    width: 100rx;
                    height: 46rx;
                    line-height: 46rx;
                    text-align: center;
                    border: 1px solid #eeeeee;
                    border-radius: 3rx;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(#eeeeee, 0.4);
                    }
                }

                .remark {
                    margin-left: 8rx;

                    /deep/.el-input__inner {
                        height: 46rx;
                        width: 650rx;
                        color: #999999;
                        background-color: #F4F6F9;

                        &:focus {
                            border-color: rgba(var(--main-theme-color), 1);
                        }
                    }
                }
            }

            .right {
                display: flex;

                .btn {
                    width: 80rx;
                    height: 46rx;
                    color: #000000;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 46rx;
                    border: 1px solid #eeeeee;
                    border-radius: 3rx;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(#eeeeee, 0.4);
                    }

                    &.disabled {
                        cursor: not-allowed;
                        background-color: rgba(#eeeeee, 0.2);

                        &:hover {
                            background-color: rgba(#eeeeee, 0.2);
                        }
                    }
                }

                .currentPage {
                    width: 92rx;
                    line-height: 48rx;
                    text-align: center;
                }
            }
        }
    }

    .leftBottom {
        width: 100%;
        height: 82rx;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #F5F6F9;

        .statisticsWrap {
            padding-left: 13rx;
            padding-right: 30rx;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .highlight {
                color: #FF3131;
            }

            .discount {
                margin-left: 20rx;
            }

            .totalMoney {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .btnWrap {
            display: flex;
            align-items: center;

            .btnPost {
                width: 80rx;
                height: 58rx;
                line-height: 58rx;
                text-align: center;
                border: 1px solid #eeeeee;
                border-radius: 3rx;
                cursor: pointer;

                &:hover {
                    background-color: rgba(#eeeeee, 0.4);
                }
            }

            .btnCash {
                margin-left: 10rx;
                width: 140rx;
                height: 60rx;
                line-height: 60rx;
                text-align: center;
                color: #ffffff;
                font-size: 18px;
                background-color: rgba(var(--main-theme-color), 1);
                border-radius: 3rx;
                cursor: pointer;

                &:hover {
                    background-color: rgba(var(--main-theme-color), 0.8);
                }
            }
        }
    }
}

.homeRight {
    display: flex;
    flex-direction: column;
    width: 754rx;
    height: 100%;
    padding-left: 6rx;

    .classification {
        background-color: #ffffff;

        .c_one {
            display: flex;
            padding: 5rx 7rx;
            max-height: 260rx;
            border-bottom: 1px solid #eeeeee;

            .el_list {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: auto;

                /deep/.el-scrollbar__view {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .item {
                margin: 5rx 0;
                margin-left: 12rx;
                width: 112px;
                height: 52rx;
                line-height: 52rx;
                text-align: center;
                border-radius: 6rx;
                cursor: pointer;
                overflow: hidden;

                &.add {
                    border: 1px solid #F4F6F9;
                    border-radius: 3rx;
                    font-size: 28px;
                }

                &.rowFirst {
                    margin-left: 0;
                }

                &:hover {
                    background-color: rgba(#F5F6F9, 0.6);
                }

                &.selected {
                    background-color: #F5F6F9;
                }
            }
        }

        .c_two {
            display: flex;
            padding: 5rx 7rx;
            max-height: 200rx;
            border-bottom: 1px solid #eeeeee;

            .el_list {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: auto;

                /deep/.el-scrollbar__view {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .item {
                margin: 5rx 0;
                margin-left: 12rx;
                width: 112px;
                height: 38rx;
                line-height: 38rx;
                text-align: center;
                border-radius: 6rx;
                border: 1px solid #EEEEEE;
                cursor: pointer;
                overflow: hidden;

                &.add {
                    font-size: 28px;
                }

                &.rowFirst {
                    margin-left: 0;
                }

                &:hover {
                    background-color: rgba(#F5F6F9, 0.6);
                }

                &.selected {
                    background-color: #F5F6F9;
                    border: 1px solid #F5F6F9;
                }
            }
        }
    }

    .goodsWrap {
        margin: 8rx 7rx 8rx 2rx;
        width: calc(100% - 4rx);
        height: calc(100% - 316rx);
    }
}