    .updatePassword {
        display: flex;
        padding: 20px 40px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .addTxt {
            height: 80px;
            line-height: 67px;
            font-size: 16px;
        }

        .btnWrap {
            .btnPrimary {
                margin: 10rx 0 0 45px;
            }

            &.notMargin {
                .btnPrimary {
                    margin: 0;
                }
            }
        }
    }