.mainTem {
    width: 100%;
    height: 100%;
    background-color: #f7f8fa;

    .mt_section {
        width: 100%;
        height: 100%;
        display: flex;

        .mt_left {
            height: 100%;
            width: 200px;
            background-color: #ffffff;

            .mt_towMenu {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                background-color: #2f4050;

                .mttm_title {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 20px;
                    background-color: #367fa9;
                    cursor: pointer;
                }

                .scrollbar {
                    max-height: calc(100% - 50px);
                    width: 100%;
                }
            }
        }

        .mt_right {
            height: 100%;
            width: calc(100% - 200px);

            .mt_right_top {
                height: 50px;
                background-color: #3c8dbc;
            }
        }
    }
}

//region 二级菜单导航
.navmenu {
    width: 100%;
    color: #a7b1c2;
    cursor: pointer;

    .navmenu_one {
        width: 100%;
        height: auto;
        user-select: none;

        &:hover,
        &.selected {
            color: #ffffff;
            background-color: #293846;

            .iconfont {
                color: #ffffff !important;
            }
        }

        
        &.showChild {
            padding-bottom: 10px;
            color: #ffffff;
            background-color: #293846;
        }

        .nav_oneTitle {
            padding: 14px 20px 14px 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            user-select: none;

            .oneLeft {
                display: flex;
                align-items: center;
            }

            .iconLeft {
                padding-left: 5px;
                font-size: 14px;
                color: #a7b1c2;
                transition-duration: 300ms;

                &.show {
                    transform: rotate(-90deg);
                    color: #ffffff;
                }
            }

            .selected {
                color: rgba(var(--main-theme-color), 1);
            }

            label {
                padding: 0 0 0 5px;
                cursor: pointer;

                &.selected {
                    color: rgba(var(--main-theme-color), 1);
                }

                &.renturnBack {
                    color: rgba(var(--main-theme-color), 1);
                    // margin: 0 0 0 15px;
                }
            }
        }

        .navmenu_tow {
            .nav_towName {
                padding: 7px 15px 7px 52px;
                color: #a7b1c2;

                &:hover,
                &.selected {
                    color: #ffffff;
                    background-color: #293846;
                }
            }
        }

        .active {
            color: rgba(var(--main-theme-color), 1);
            background: #f1f2f3;
            border-radius: 4px;
        }
    }
}